.container {
  background-color: rgba(var(--color-primary-c6dbf459), 1);
  color: rgba(var(--color-background-c6dbf459), 1);

  flex-grow: 1;

  border-radius: var(--widget-radius-c6dbf459);

  box-sizing: border-box;
  width: 100%;
  padding: var(--widget-padding-y-c6dbf459) var(--widget-padding-x-c6dbf459);
  margin: 0 var(--widget-padding-x-c6dbf459);

  display: flex;
  flex-direction: column;
}

.heading {
  text-align: left;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}

.description {
  height: 100%;
  width: 100%;

  flex-grow: 1;
  overflow-y: hidden;
}

.closeButton {
  padding: 4px;
  cursor: pointer;

  background-color: transparent;
  color: inherit;
  border: none;
}

.closeButton:disabled {
  cursor: not-allowed;
}

.deduplicationNotice {
  margin-bottom: 2px;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.learnMore {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.platformFooter {
  color: rgba(var(--color-secondary-c6dbf459), 0.7);
}
