.container {
  background-color: rgba(var(--color-primary-c6dbf459), 1);
  color: rgba(var(--color-background-c6dbf459), 1);

  flex-grow: 1;

  border-radius: var(--widget-radius-c6dbf459);

  box-sizing: border-box;
  width: 100%;
  padding: var(--widget-padding-y-c6dbf459) var(--widget-padding-x-c6dbf459);
  margin: 0 var(--widget-padding-x-c6dbf459);

  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.description {
  margin: calc(var(--widget-padding-y-c6dbf459) / 2) 0
    var(--widget-padding-y-c6dbf459) 0;

  max-height: calc(120px - 1.5 * var(--widget-padding-y-c6dbf459));
  height: 100%;
  width: 100%;

  flex-grow: 1;
}

.closeButton {
  padding: 4px;
  cursor: pointer;

  background-color: transparent;
  color: inherit;
  border: none;
}

.closeButton:disabled {
  cursor: not-allowed;
}

.deduplicationNotice {
  margin-bottom: 2px;
}
