body {
  background-color: #000000;
  color: #ffffff;
}

div.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  margin-top: 4px;
  margin-bottom: 32px;
}
