@import "../theme.css";

.container {
  width: 100%;
  padding: var(--widget-padding-y-c6dbf459) var(--widget-padding-x-c6dbf459)
    calc(2 * var(--widget-padding-y-c6dbf459));

  box-sizing: border-box;

  border-width: 1px;
  border-style: none solid solid solid;
  border-color: rgba(var(--color-secondary-c6dbf459), 1);
  border-bottom-left-radius: var(--widget-radius-c6dbf459);
  border-bottom-right-radius: var(--widget-radius-c6dbf459);

  background-color: rgba(var(--color-background-c6dbf459), 1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.textBlock {
  flex-grow: 1;

  margin-bottom: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.extraBottomMarginForBodyWithoutButton {
  margin-bottom: 36px;
}

.heading {
  font-size: 18px;
  font-weight: 700;
}
