@import "../theme.css";

.button {
  background-color: rgba(var(--color-primary-c6dbf459), 1);
  color: rgba(var(--color-background-c6dbf459), 1);

  font-family: var(--font-family-alt-c6dbf459);
  font-weight: 500;
  font-size: 16px;

  border: none;
  border-radius: var(--button-radius-c6dbf459);

  padding: 8px 16px;

  cursor: pointer;
  transition: filter var(--transition-speed-c6dbf459) ease,
    outline var(--transition-speed-c6dbf459) ease,
    opacity var(--transition-speed-c6dbf459) ease;
}

.invert {
  background-color: rgba(var(--color-background-c6dbf459), 1);
  color: rgba(var(--color-primary-c6dbf459), 1);
  opacity: 1;
}

.button:hover {
  outline: 1px solid rgba(var(--color-secondary-c6dbf459), 0.8);
  filter: brightness(0.8);
}

.button:disabled {
  filter: brightness(0.8);
  cursor: not-allowed;
}

.invert:hover {
  opacity: 0.75;
}

.invert:disabled {
  opacity: 0.75;
}
