.container {
  font-family: var(--font-family-heading-c6dbf459);
  font-size: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin: 0;

  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;

  border-width: 1px;
  border-style: solid;
  border-top-left-radius: var(--widget-radius-c6dbf459);
  border-top-right-radius: var(--widget-radius-c6dbf459);
  border-color: rgba(var(--color-secondary-c6dbf459), 1);

  background: rgba(var(--color-background-c6dbf459), 1);

  height: 55px;

  transition: border-radius 100ms ease-in-out;

  color: inherit;
}

.containerCollapseButton {
  cursor: pointer;
}

.containerNoCollapseButton {
  cursor: default;
}

.bodyExpanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bodyCollapsed {
  border-bottom-left-radius: var(--widget-radius-c6dbf459);
  border-bottom-right-radius: var(--widget-radius-c6dbf459);
}

.collapseToggle {
  transition: transform var(--transition-speed-c6dbf459) ease-in-out;
}

.collapseToggleOpen {
  transform: rotate(180deg);
}

.titleStack {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: start;

  line-height: 1.1;
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
}

.score {
  font-size: 20px;
  font-weight: 700;
}

.scoreSection {
  display: flex;
  align-items: center;
  gap: 8px;
}
