.container {
  font-family: var(--font-family-heading-c6dbf459);
  font-size: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0;

  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;

  border-width: 1px;
  border-style: solid;
  border-top-left-radius: var(--widget-radius-c6dbf459);
  border-top-right-radius: var(--widget-radius-c6dbf459);
  border-color: rgba(var(--color-secondary-c6dbf459), 1);

  background: rgba(var(--color-background-c6dbf459), 1);

  height: 55px;

  transition: border-radius 100ms ease-in-out;

  color: inherit;
}

.title {
  flex-grow: 1;
  text-align: left;
}

.containerCollapseButton {
  cursor: pointer;
}

.containerNoCollapseButton {
  cursor: default;
}

.bodyExpanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bodyCollapsed {
  border-bottom-left-radius: var(--widget-radius-c6dbf459);
  border-bottom-right-radius: var(--widget-radius-c6dbf459);
}

.collapseToggle {
  transition: transform var(--transition-speed-c6dbf459) ease-in-out;
}

.collapseToggleOpen {
  transform: rotate(180deg);
}

.scoreIndicator {
  position: relative;
  width: 40px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.scoreIndicatorText {
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 600;
  color: rgba(var(--color-black-c6dbf459), 1);
}

.scoreSection {
  display: flex;
  align-items: center;
  gap: 8px;
}
