.scrollableDiv {
  display: grid;
}

.scrollableDiv > * {
  place-self: center;
}

.scrollableDiv:hover .scrollIndicator {
  opacity: 0;
}

.scrollableDiv > * {
  grid-row: 1;
  grid-column: 1;
}

.scrollIndicator {
  pointer-events: none;
  transition: opacity 0.5s;
}

.scrollDownIndicator {
  align-self: end;
}

.scrollUpIndicator {
  align-self: start;
  rotate: 180deg;
}

.visible {
  opacity: 0.75;
}

.invisible {
  opacity: 0;
}

.contents {
  /* Inner container for the scrollable content */
  scrollbar-width: thin;
  width: 100%;
  place-self: stretch; /* Override the center alignment to fill the container */
}
