@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Unbounded&display=swap");

/*
 * c6dbf459 is the first 4 bytes of
 * keccak256("passport-widgets"), used
 * as a unique postfix for the CSS
 * variables to avoid conflicts
 */

:root {
  --color-primary-c6dbf459: 255, 255, 255;
  --color-secondary-c6dbf459: 109, 109, 109;
  --color-background-c6dbf459: 0, 0, 0;
  --color-success-c6dbf459: 164, 255, 169;
  --color-failure-c6dbf459: 203, 203, 203;
  --widget-padding-x-c6dbf459: 20px;
  --widget-padding-y-c6dbf459: 12px;
  --widget-radius-c6dbf459: 16px;
  --button-radius-c6dbf459: 5px;
  --transition-speed-c6dbf459: 100ms;
  --font-family-body-c6dbf459: "Poppins", sans-serif;
  --font-family-heading-c6dbf459: "Unbounded", sans-serif;
}
